:root{
    --dark: #1A1918;
    --primary: #CA9111;
    --secondary: #D5D3C4;
    --background: #FFF4E9;
  }

a{
    text-decoration: none;
    color: inherit;
}

.nav{
    height: 7rem;
    width: 100%;
    background-color: #1A1918;
    color: #D5D3C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 5rem;
}

.nav .nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav .nav__ul .nav__li{
    height: 100%;
    width: 9rem;
    cursor: pointer;
    list-style: none;
    font-family: 'DM mono';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin-right: 1rem;
}
.nav .nav__ul .nav__li:last-of-type{
    margin-right: 0;
    width: 7rem;
}

.nav .nav__ul .nav__li:hover{
    background-color: #CA9111;
    transition: 0.3s;
    height: 100%;
}

.nav .nav__ul .nav__li a {
    text-decoration: none;
    color: black;
}

.logo{
    width: 10rem;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo:hover{
    cursor: pointer;
}


.nav .nav__ul .nav__li a{
    text-decoration: none;
    color: inherit;
}



/* OVERLAY MENUS */

.burger{
    visibility: hidden;
    display: none;
}
.logo--overlay{
    visibility: hidden;
}

.overlay{
    width: 100%;
    height: 0vh;
    visibility: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.6s ease-in-out;   
    background-color: var(--dark);
    display: flex;
    align-items: center;

}
.overlay-content {
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    margin:0;
    padding: 0;
}
.overlay-content .nav__li{
    width: 100%;
    padding: 2.5rem 6rem;
    font-family: "DM Mono";
    font-size: 1.5rem;
    color: var(--secondary);
}
.overlay-content .nav__li:hover{
    color: #CA9111;
}
.overlay .closebtn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 2.2rem;
    right: 3rem;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.788);
    z-index: 2;
    cursor: pointer;
  }
  .closebtn:hover{
    content: url("../img/nav/burger-hover.png");
  }







@media (max-width: 960px) {
    .nav{
        padding: 0 0 0 2rem;
    }
    .nav .nav__ul .nav__li{
        width: 6rem;
        padding: 0.5rem;
        margin-right: 1.5rem;
    }
    .overlay{
        max-width: 960px;
    }
    .overlay-content{
        max-width: 960px;
    }

}

@media (max-width: 672px) {

    .nav{
        position: relative;
        padding: 0 2.5rem;
    }
   .burger{
        visibility: visible;
        display: block;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 1.1rem;
        right: 1.5rem;
        cursor: pointer;
        z-index: 3;
   }
   .burger img{
        width: 100%;
   }
   .burger:hover > img{
        content: url("../img/nav/burger-hover.png");
   }
   .overlay{
    max-width: 672px;
   }
   .overlay-content{
    max-width: 672px;
    }

   .nav__ul{
        visibility: hidden;
   }
   .nav__ul .nav__li{
        display: none;
   }
   .logo{
    visibility: hidden;
   }
   .logo--overlay{
    visibility: visible;
        position: absolute;
        top: 2rem;
        left: 3rem;
        z-index: 4;
        
        color: var(--secondary);
        font-size: 1.5rem;
   }
}

.current-page{
    background-color: var(--primary);
}
