/*ESTILOS CSS "O COR DE COIMBRA"*/


*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    box-sizing: border-box;
}
body {
    background-color: rgb(30,30,30)
}
.container{
    width: 100%;
    margin: auto;
}

header{
    width: 80%;
    margin:4.5% auto;
}
header h1{
    font-size: 250%;
    font-family: "Liberation Mono";
    text-align: center;
    color:rgb(230,230,230)
}

.proyect{
    width: 98%;
    margin:30px auto;
    
}
h2{
    font-size: 16px;
    margin-bottom: 1%;
}
h3{
    font-size: 14;
    padding-left: 15%;
    margin-bottom: 0.5%;
    color:rgb(230,230,230);
}
p{
    font-size: 14px;
    text-align: justify;
    padding-left: 2.5%;
    color:rgb(230,230,230);
}
img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgb(230,230,230)0px 0px 0px;
}
.img{
    width: 45%;
    height: auto;
    padding: 1%;
}



/*MERCADO*/

.mercado{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 2%;
    border-radius: 5px;
}

.text-1{
    width: 55%;
    padding: 1%;
}
.mercado .text-1 h2{
    color:#DBDB51;
}

/*BALOICO*/

.baloico-container{
    width: 100%;
    margin: 5% auto;
    padding: 2%;
    background-color: rgb(40,40,40);
    border-radius: 5px;
}
.baloico{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}
.baloico-gato{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 0% auto;
}
.baloico .text-1 h2{
    color:#008A00;
}
.baloico .text-1 h3{
    color:#BDAB88;
}
.baloico-gato .text-1 h3{
    color:#BDAB88;
}
/*------*/
/*ARMANDO OLIVEIRA*/
/*------*/

.oliveira{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 2%;
    border-radius: 5px;
}
.text-2{
    width: 55%;
    padding: 1%;
}
.text-2 p{
    width: 100%;
    padding-left: 0%;
}
.text-3{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
}
.text-3 p{
    width: 95%;
    padding-left: 0%;
}
.text-4{
    width: 100%;
    padding: 1%;
}
.text-4 h2{
    width: 100%; 
}
.oliveira .text-4 h2{
    color:#C40826;
}


/*LINO*/

.lino{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 2%;
    border-radius: 5px;
}
.lino .text-1 h2{
    color: #DB67C6;
}

/*BANCO*/

.banco{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 2%;
    border-radius: 5px;
}
.banco .text-4 h2{
    color: #8026C4;
}

/*---*/
/*OVERLAY*/
/*-----*/


.img-container{
    width: 80%;
    max-width: 800px;
    max-height: 350px;
    position: relative; 
    margin: 3% 0%;
    display: flex;
    align-content: center;
}
.img-container img{
    max-height: 350px;
    max-width: 800px;
}
.img-container .overlay{
    background-color: rgba(30,30,30,1);
    width: 100%;
    height: 350px;
    opacity: .7;
    transition: 0.6s ease;
    position: absolute;
    bottom: 100%;
    height: 0%;
}
.img-container .overlay .text-over{
    color: rgb(230,230,230);
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: 0.6s ease;
}
.img-container:hover .overlay{
    opacity: 0.8;
    bottom: 0%;
    height: 100%;
}
.img-container:hover .text-over{
    opacity: 1;
}  