/*ESTILOS CSS "O COR DE COIMBRA"*/



/* @media (min-width: 768px) {
   nav{
    display: flex;
    justify-content: flex-end;
   }
} */

*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    margin:0;
    padding: 0;
    min-width: 100%;
}
body {
    background-color: rgb(30,30,30);
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    letter-spacing: 0.6;
    line-height: 1.3;
}

header{
    width: 80%;
    margin:2.5% auto 4.5%;
}
header h1{
    font-size: 250%;
    font-family: "Liberation Mono";
    text-align: center;
    color:rgb(230,230,230)
}
.sub-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.selector-1{
    width: 20%;
    padding: 1.5% 3%;
    margin: 4% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
}
.selector-2{
    width: 20%;
    padding: 1.5% 3%;
    margin: 4% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
}
.selector-1:hover{
    width: 27%;
    color:#AA46E8;
    background-color: rgb(15,15,15);
    border-color: #AA46E8;
    cursor: pointer;
}
.selector-1:hover + .selector-2{
    width: 13%;
    font-size: 14px;
    padding: 1.5% 0.1%;
}
.selector-2:hover{
    width: 27%;
    color: #B30C00;
    background-color: rgb(15,15,15);
    border-color: #B30C00;
    cursor: pointer;
}
.selector1change{
    width: 13%;
    font-size: 14px;
    padding: 1.5% 1%;
    margin: 4% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
}

.selector-3{
    width: 20%;
    padding: 1.5% 3%;
    margin: 1% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
    
}
.selector-3:hover{
    width: 26%;
    color: #AA46E8;
    background-color: rgb(15,15,15);
    border-color: #AA46E8;
    cursor: pointer;
}
.selector-3:hover + .selector-4{
    width: 14%;
}
.selector-4{
    width: 20%;
    padding: 1.5% 3%;
    margin: 1% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
}
.selector-4:hover{
    width: 27%;
    color: #B30C00;
    background-color: rgb(15,15,15);
    border-color: #B30C00;
    cursor: pointer;
}
.selector3change{
    width: 13%;
    padding: 1.5% 3%;
    margin: 1% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(160,160,160);
    border: 1px solid rgb(150,150,150);
    border-radius: 10px;
    transition: 0.5s ease;
}

/*---------------*/
/*---PROYECTO---*/
/*---------------*/

.proyect{
    width: 98%;
    margin:30px auto;
}
h2{
    font-size: 16px;
    margin-bottom: 1%;
}
h3{
    font-size: 14;
    padding-left: 15%;
    margin-bottom: 0.5%;
    color:rgb(230,230,230);
}
p{
    font-size: 14px;
    text-align: justify;
    padding-left: 2.5%;
    color:rgb(230,230,230);
}
img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgb(230,230,230)0px 0px 0px;
}
.img{
    width: 45%;
    height: auto;
    padding: 1%;
}


/*---------------*/
/*MERCADO*/
/*---------------*/

.mercado{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 5% auto 20%;
    padding: 2%;
    border-radius: 5px;
    border-left: 1px solid #DBDB51;
}

.text-1{
    width: 55%;
    padding: 1%;
    background-color: rgb(38,38,38);
    border-radius: 4px;
    border:2px solid rgb(39,39,39);
}
.mercado .text-1 h2{
    color:#DBDB51;
}

/*---------------*/
/*BALOICO*/
/*---------------*/

.baloico-container{
    width: 100%;
    margin: 20% auto;
    padding: 2%;
    background-color: rgb(40,40,40);
    border-radius: 5px;
    border-left: 1px solid #BDAB88;
}
.baloico{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}
.baloico-gato{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 0% auto;
}
.baloico .text-1 h2{
    color:#008A00;
}
.baloico .text-1 h3{
    color:#BDAB88;
}
.baloico-gato .text-1 h3{
    color:#BDAB88;
}

/*---------------*/
/*ARMANDO OLIVEIRA*/
/*---------------*/

.oliveira-container{
    border-radius: 5px;
    border-left: 1px solid #B30C00;
    background-color: rgb(40,40,40);
     margin: 20% auto;
    padding: 2%;
}
.oliveira{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
   
}
.text-2{
    width: 55%;
    padding: 1%;
    background-color: rgb(38,38,38);
    border-radius: 4px;
    border:2px solid rgb(39,39,39);
}
.text-2 p{
    width: 100%;
    padding-left: 0%;
}
.text-3{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-color: rgb(38,38,38);
    border-radius: 4px;
    border:2px solid rgb(39,39,39);
}
.text-3 p{
    width: 95%;
    padding-left: 0%;
}
.text-4{
    width: 100%;
    padding: 1%;
    background-color: rgb(38,38,38);
    border-radius: 4px;
    border:2px solid rgb(39,39,39);
}
.text-4 h2{
    width: 100%; 
}
.oliveira .text-4 h2{
    color:#B30C00;
}

/*---------------*/
/*LINO*/
/*---------------*/

.lino{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 20% auto;
    padding: 2%;
    border-radius: 5px;
    border-left: 1px solid #DB67C6;
}
.lino .text-1 h2{
    color: #DB67C6;
}

/*---------------*/
/*BANCO*/
/*---------------*/

.banco-container{
    background-color: rgb(40,40,40);
    margin: 20% auto;
    padding: 2%;
    border-radius: 5px;
    border-left: 1px solid #AA46E8;
}
.banco{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.banco .text-4 h2{
    color: #AA46E8;
}

/*---------------*/
/*PARENTESIS*/
/*---------------*/

.parentesis{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(40,40,40);
    justify-content: center;
    align-items: center;
    margin: 20% auto 5%;
    padding: 2%;
    border-radius: 5px;
    border-left: 1px solid #B30C00;
    border-right: 1px solid #B30C00;
}
.parentesis .text-4 h2{
    text-align: center;
    color: #B30C00;
}
.parentesis .text-4 p{
    text-align: center;
}
.parentesis .img{
    width: 33%;
    margin: 3.5% 0%;
}

/*---------------*/
/*---FOOTER---*/
/*---------------*/

footer{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}




/*---------------*/
/*---GALERIA---*/
/*---------------*/

.grid{
    width: 98%;
    height: auto;
    margin: 0% auto 2%;
    border-radius: 10px;
    background-color: rgb(40,40,40);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-grid{
    width: 30%;
    margin: 2% 1.2%;
}
.grid-2{
    width: 98%;
    height: auto;
    margin: auto;
    background-color: rgb(40,40,40);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid-2 .img-grid{
    width: 50%;
    margin: 2%;
}
.grid-1{
    width: 98%;
    height: auto;
    margin: auto;
    background-color: rgb(40,40,40);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.a{
    text-decoration: none;
   color: rgb(150,150,150);
}
.a:hover{
    color: #AA46E8;
}

/*---------------*/
/*OVERLAY*/
/*---------------*/


.img-container{
    width: 80%;
    max-width: 800px;
    max-height: 350px;
    position: relative; 
    margin: 3% 0%;
    display: flex;
    align-content: center;
}
.img-container img{
    max-height: 350px;
    max-width: 800px;
}
.img-container .overlay{
    background-color: rgba(30,30,30,1);
    width: 100%;
    height: 350px;
    opacity: .7;
    transition: 0.6s ease;
    position: absolute;
    bottom: 100%;
    height: 0%;
}
.img-container .overlay .text-over{
    color: rgb(230,230,230);
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: 0.6s ease;
}
.img-container:hover .overlay{
    opacity: 0.8;
    bottom: 0%;
    height: 100%;
}
.img-container:hover .text-over{
    opacity: 1;
}  

a{
    text-decoration: none;
    color:rgb(230,230,230);
    transition: 0.5s;
}
.baloico a:hover{
    color:#008A00;  
}
.oliveira a:hover{
    color:#B30C00;
}

.banco a:hover{
    color: #AA46E8;
}
/*---------------*/
/*----BOTON----*/
/*---------------*/

.btn{
    color:#FF7222;
    width: 80px;
    height: 80px;
    margin:1.5% auto 0%;
    position: relative;
}
.btn img{
    width: 50%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    transition: 0.5s ease;
    opacity: 0.6;
}
.btn img:hover{
    opacity: 1;
     -webkit-animation: mover 0.4s infinite  alternate;
    animation: mover 0.4s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0);}
    100% { transform: translateY(-12px); }
}
@keyframes mover {
    0% { transform: translateY(0);}
    100% { transform: translateY(-12px);}
}

/*---------------*/
/*-----MENU---*/
/*---------------*/

.menu{
    width: 100%;
    height: 35px;
    background: rgb(30,30,30);
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.info{
    width: 0%;
    height: 100%;
    background: rgb(10,10,10);
    transition: 1s ease;
}
.infohover{
    width: 100%;
    background-color: rgb(15,15,15);
    transition: 1s ease;
    border-bottom:0.5px solid rgb(100,100,100);
}

.dn{
    color:rgb(230,230,230);
    font-size: 18px;
    position: absolute;
    top:-1px;
    right: 10px;
    height: 40px;
    width: 50px;
    opacity: 0.4;
    transition: 0.6s;
    cursor: pointer;
    filter: invert(0.8);
}
.dn:hover{
    opacity: 1;
}
.dn img{
    position: absolute;
    width: 50px;
    height: 40px;
}

/*---------------*/
/*---------------*/
/*---------------*/
/*---RESPONSIVE-----*/
/*---------------*/

@media screen and (max-width: 800px){
    
    header{
        width: 95%;
    }
    .selector-1{
        width: 60%;
    }
    .selector-2{
        width: 60%;
    }
    .selector-1:hover{
        width: 70%;
    }
    .selector-1:hover + .selector-2{
        width: 50%;
        font-size: 16px;
    }
    .selector-2:hover{
        width: 70%;
    }
    .selector1change{
        width: 50%;
        font-size: 16px;
    }
    
    footer{
        width: 80%;
    }
    .selector-3{
        width: 60%;
        margin-bottom: 2%;
    }
    .selector-4{
        width: 60%;
    }
    .selector-3:hover{
        width: 70%;
    }
    .selector-3:hover + .selector-4{
        width: 50%;
        font-size: 16px;
    }
    .selector-4:hover{
        width: 70%;
    }
    .selector3change{
        width: 50%;
        font-size: 16px;
        margin-bottom: 2%;
    }
    
    .img{
        width: 95%;
        margin: auto;
        margin-bottom: 2%;
    }
    .text-1{
        width: 99%;
        margin-bottom: 2%;
    }
    .text-2{
        width: 99%;
    }
    .text-3{
        width: 99%;
        margin-bottom: 1%;
    }
    .text-4{
        width: 99%;
        margin-bottom: 1%;
    }
    .parentesis .img{
    width: 95%;
    margin: 2% 0%;
    }
    .img-container{
    width: 98%;
    }
    
    /*-----------*/
    /*---GALERIA---*/
    /*-----------*/
    
    .grid{
        padding: 3% 0% 4%;
    }
    .img-grid{
    width: 90%;
    margin: 2% 0%;
    }
    .grid-2 .img-grid{
    width: 90%;
    margin: 5% 0%;
    }
    .grid-1 .img-grid{
        margin-bottom: 1%;
    }
}











