/* estos son mis estilos_DNGEA */

body{ 
    font-family: "Raleway";
}

/*#BCAAA4*/

.titulo {
  font-family: "liberation mono";
  font-size: 30px;
  font-weight: 600;
  color: rgb(30,30,30);
  text-align: center;
    margin: 30px auto;
    padding: 2%;
    width: 60%;
    background-color: rgb(195,195,195);
    border-radius: 4px;
    border-left: 4px solid rgb(30,30,30);

}
footer {
    position: fixed;
  bottom: 0px;
  width:  100%;
  padding: 10px;
  padding-left: 30px;
  opacity: 0.5;
  background-color: #2d2d2d;
  font-size: 10px;
   color: azure;
}



a:link{ 
    text-decoration: none;
}

.contenedor{
    width: 100%;
    margin: auto;
}

.grid {
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(190,190,190);
    border-right: 5px solid rgb(30,30,30);
}

.item{ 
    width: 25%;
    height: 20%;
    margin: 15px;
    position: relative;
    box-shadow : rgba(0, 0, 0, 0.66) 3px 3px 8px;
    -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    filter: grayscale(.5);
    border:2px solid rgba(30,30,30, .8);
    border-radius: 4px;
    filter: brightness(.78);
}
.item:hover{
    box-shadow: 6px 6px 15px rgba(0,0,0,1);
    filter: brightness(1.05);
}

.item img{
    width: 100%;
    border-radius: 2px;
}

.present-proyects {
    padding: 2%;
    color: rgb(230,230,230);
    text-shadow: 0.05em 0.05em 0.04em black;
    background-color: rgba(40,40,40, 0.3);  
    transition: 0.3s;
}

.item:hover .present-proyects{
    background-color: rgba(30,30,30, 0.8); 
}

.present-proyects .nombre{
    font-size:16px; 
    font-weight: 500;
    font-style: italic;
    font-family: "Raleway";
    text-align: center;
}
.present-proyects .ano{
    font-size:14px; 
    font-weight: 500;
    font-style: italic;
    font-family: "Raleway";
    text-align: center;
}

/*---------------*/
/*-----MENU---*/
/*---------------*/

.menu{
    width: 100%;
    height: 35px;
    background-color:rgb(200,200,200);
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.info{
    width: 0%;
    height: 100%;
    background: rgb(30,30,30);
    transition: 1s ease;
}
.infohover{
    width: 100%;
    background-color: rgb(120,120,120);
    transition: 1s ease;
    border-bottom:2px solid black;
}

.dn{
    position: absolute;
    top:-1px;
    right: 2%;
    width: 50px;
    height: 40px;
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
}
.dn:hover{
    opacity: 1;
}
.dn img{
    position: absolute;
    width: 50px;
    height: 40px;
}


@media screen and (max-width: 700px) {
    .grid{
        flex-direction: column;
    }
    
    .item{
        width: 50%;
        height: 50%;
    }
    .item img{
        height: 100%;
    }
    
    .titulo{
    font-size: 25px;
    width: 80%;
    background-color: rgb(195,195,195);
    border-radius: 4px;
    border-left: 4px solid rgb(30,30,30);
    padding: 10px 5px;
    }
    
}
 