:root{
    --dark: #1A1918;
    --primary: #CA9111;
    --secondary: #D5D3C4;
    --background: #FFF4E9;
  }


html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 968px;
}
*, *:before, *:after {
    box-sizing: inherit;
}  

body{ 
    font-family: 'Roboto';
    background-color: var(--background);
    height: 100%;
}







/* BODY--------------- */

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;

}

.page__description{
    width: 40%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:start;
    border-right: 2px solid black;
}

.page__showProjects{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
}

.titulo {
    font-family: "DM mono";
    font-size:4rem;
    text-align: left;
    font-weight: 400;
    color: var(--dark);
    margin: 6rem 0 3rem;
    padding: 2%;
    width: 100%;
}

.description{
    font: "Roboto";
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;

}


footer {
    position: fixed;
  bottom: 0px;
  width:  100%;
  padding: 10px;
  padding-left: 30px;
  opacity: 0.5;
  background-color: #2d2d2d;
  font-size: 10px;
   color: azure;
}



a{ 
    text-decoration: none;
    list-style: none;
}



.grid2x2{
    width: 70%;
    height:88%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.item{ 
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    object-fit:cover;
    background-position: center center;

    filter: grayscale(1);
    background-size: 100%;
}
.item:hover{
    filter: grayscale(0);
    background-size: 125%;
    transition: 0.4s ease-in-out;
    filter: brightness(1.1);
    border: 10px solid var(--primary);
}


.item__text{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    padding: 2rem;
    color: rgb(250,250,250);
}

.item .item__text{
    background-color: rgba(30,30,30, 0); 
}
.item:hover .item__text{
    background-color: rgba(30, 30, 30, 0.633); 
    transition: 0.3s ease-in-out;
}

.item__text .nombre{
    font-size: 0rem;
}
.item:hover .item__text .nombre{
    font-size:1.6rem; 
    font-weight: 500;
    font-family: "Roboto";
    text-align: left;
    letter-spacing: 0.1rem;
}




.info{
    width: 0%;
    height: 100%;
    background: rgb(30,30,30);
    transition: 1s ease;
}
.infohover{
    width: 100%;
    background-color: rgb(120,120,120);
    transition: 1s ease;
    border-bottom:2px solid black;
}

.dn{
    position: absolute;
    top:-1px;
    right: 2%;
    width: 50px;
    height: 40px;
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
}
.dn:hover{
    opacity: 1;
}
.dn img{
    position: absolute;
    width: 50px;
    height: 40px;
}





