/* estos son mis estilos_DNGEA */

body{ 
   -webkit-font-smoothing: antialiased;
    font-family: "Raleway";
}

/*#BCAAA4*/

footer {
    position: fixed;
  bottom: 0px;
  width:  100%;
  padding: 10px;
  padding-left: 30px;
  opacity: 0.5;
  background-color: #2d2d2d;
  font-size: 10px;
   color: azure;
}



p {line-height: 1.4em;
    font-family: "Raleway";
}

a:link{ 
    text-decoration: none;
}


h1 + p, p + p {
  margin-top: 10px;
}

a:link {
  color: red;
}

.contenedor{
    width: 100%;
    margin: auto;
}

.grid {
    width: 80%;
    margin: 30px auto;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(190,190,190);
    border-right: 5px solid rgb(30,30,30);
}

.titulo {
  font-family: "liberation mono";
  font-size: 250%;
  font-weight: 600;
  color: rgb(30,30,30);
  text-align: center;
    margin: 30px auto;
    padding: 2%;
    width: 50%;
    
}

.item{
    width: 30%;
    height: 20%;
    position: relative;
    margin: 2% 4%;
    box-shadow : rgba(0, 0, 0, 0.66) 5px 5px 10px;
    -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 0.8;
    border:5px solid rgb(30,30,30);
    border-radius: 10px;
}
.item:hover{
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    opacity: 1;
}

img{
    object-fit:cover;
    width: 100%;
    border-radius: 0px;
}

.present-proyects {
    font-size:20px; 
    font-weight: 500;
    font-style: italic;
    font-family: "Raleway";
    text-align: right;
    padding: 2% 6%;
    color: rgb(230,230,230);
    text-shadow: 0.05em 0.05em 0.04em black;
    background-color: rgba(40,40,40, 0.3);
    position: absolute;
    right: 5%;
    bottom:5%   
}


@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    
    .item{
        width: 60%;
        height: auto;
    }
}

/*QUIEN HABLA DE TI*/

.contenedor-qh{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 1800px;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
}

.right-header {
    width: 40%;
    display: block;
    flex-wrap: wrap;
    overflow:auto;
    float: right;
}

.discurso {
    width: 60%;
    display: block;
    flex-wrap: wrap;
    text-align: justify;
    letter-spacing: 0.8px;
    font-size: 16px;
    color: rgb(200,200,200);
    font-weight: 100;
    font-family: "Raleway";
}

.titulo-qh {
    font-family: "Raleway";
    font-size: 250%;
    font-weight: 700;
    color: rgb(230,230,230);
    text-align: right;
}

.proyecto {
    width: 95%;
    margin: auto;
    padding: 2% 0 2% 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(20,20,20);
}

.proyecto .historia-left{
    display: block;
    float: left;
}

proyecto .historia-right{
    display: inline-block;
    float: right;
    
}

.pie-foto-r{
    display: block;
    float: right;
    width: 11%;
    padding: 10px;
    position: relative;
    font-family: "Raleway";
    font-style: italic;
    font-weight:100;
    font-size: 1.3vw;
    color: rgb(230,230,230);
}

.pie-foto-l{
    display: block;
    float: left;
    width: 11%;
    padding: 10px;
    position: relative;
    font-family: "Raleway";
    font-style: italic;
    font-weight:100;
    font-size: 1.3vw;
    color: rgb(230,230,230);
}

.responsive-place {
    max-width: 48%;
}

.responsive-obj {
    max-width: 32%;
}

.proyecto .historia-left img{
    box-shadow: 2px 4px 8px rgba(0,0,0,1);
    padding: 10px;
}

.proyecto .historia-right img{
    box-shadow: -2px 4px 6px rgba(0,0,0, 0.1);
    display: block;
    float: right;
    height: auto;
    padding: 10px;
}

.center {
    text-align: center;
}

.video-final {
    display: inline-block;
    border-top: 4px solid rgba(230,230,230, 0.7);
    margin: 6%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

.video-final p {
    display: inline-block; 
    text-align: center; 
    font-size: 20px;
   padding: 2%;
    color: rgb(230,230,230)
}

.video-final iframe {
    display: inline-block;
}
 