:root{
    --black: #000000;
    --white: #ffffff;
    --primary: #A44200;
    --background: #FFF4E9;
  
    --main-font: 'IBM Plex sans', system-ui;
    --paragraph-font: 'Work Sans', system-ui;

    --max-width: 1200px;
  }


html {
    box-sizing: border-box;
    overflow-x: hidden;
    margin:0;
    padding: 0;
    min-width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}  

body{ 
    font-family: var(--paragraph-font);
    background-color: var(--background);
    margin: 0 auto;
    width: inherit;
    height: 100vh;
    overflow-x: hidden;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--black);
    letter-spacing: 0.25rem;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--black);
    letter-spacing: 0.25rem;
}

h3{
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--black);
    letter-spacing: 0.25rem;
}

p{
    font-family: var(--paragraph-font);
    font-size: 1.25rem;
    color: var(--black);
    letter-spacing: 0.15rem;
    line-height: 2rem;
    text-align:left;
    padding-top: 2rem;
    font-weight:400;
}

a{ 
    text-decoration: none;
    list-style: none;
}



/* BODY--------------- */

.contenedor{
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    padding: 4rem 0;
    margin-top: 1rem;
    overflow:visible;
}

.page__description{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding: 2rem;
    margin:0;
}

.page__showProjects{
    width: 65%;
    min-width: 0;
    height: 100%;
    padding: 2rem;
    margin:0;
}

.description{
    padding: 2rem 0 0;
}


.grid_responsive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}


.item{ 
    position: relative;
    /* border: 2px solid black; */
    min-width: 15rem;
    min-height: 25rem;
    background-repeat:no-repeat;
    object-fit:cover;
    background-position: center center;
    background-size: cover;
    margin:0rem;
    filter: brightness(0.8) grayscale(1); /* Combina ambos filtros */
    overflow: hidden; /* Asegura que no haya desbordamiento */
}
.item:hover{
    background-size: 150%;
    transition: 0.3s ease-in-out;
    filter: brightness(1.25);
}


.item__text{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out; /* Añade transición al cambio de altura */
    z-index: 1;
}

.item .item__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary); /* El color de fondo */
    opacity: 0; /* Opacidad por defecto */
    transition: opacity 0.3s ease-in-out;
    z-index: -1; /* Coloca el fondo detrás del texto */
}

.item:hover .item__text::before {
    opacity: 0.8; /* Aplica opacidad al fondo en hover */
}

.item__text p{
    font-size: 0rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--background);
    
    transition: font-size 0.3s ease-in-out;
}
.item:hover .item__text p{
    font-size:1.5rem; 
}

.item:hover .item__text .thin{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    font-style: italic;
}

.item:hover .item__text .italic{
    font-style: italic;
}




.info{
    width: 0%;
    height: 100%;
    background: rgb(30,30,30);
    transition: 1s ease;
}
.infohover{
    width: 100%;
    background-color: rgb(120,120,120);
    transition: 1s ease;
    border-bottom:2px solid black;
}

.dn{
    position: absolute;
    top:-1px;
    right: 2%;
    width: 50px;
    height: 40px;
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
}
.dn:hover{
    opacity: 1;
}
.dn img{
    position: absolute;
    width: 50px;
    height: 40px;
}

.grid--bottom{
    background-position: center bottom;
}
.grid--top{
    background-position: center top;
}




/* ABOUT & CONTACT */

.contenedor-about{
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4rem 0;
    margin-top: 1rem;
    overflow:visible;
}

.about{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 75%;
    margin: 0 auto;
}
.about__img {
    width: 100%; 
    display: flex;
    justify-content: right;
    align-items: start; 
    padding: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__img img {
    max-width: 100%; 
    min-height: 100%; /* Mantén la proporción de la imagen */
    display: block; /* Elimina el espacio inferior que suelen tener los <img> */
    object-fit: cover;
}

.about__info{
    padding: 1rem; /* Añade un poco de padding para mejorar la legibilidad */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamientos */
}

.resume{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resume h2, .resume button{
    margin: 1rem;
}

button {
    background-color: #A44200;
    color: var(--background);
    border: none;
    padding: 12px 35px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

button:hover {
    background-color: #833704; /* Slightly lighter shade on hover */
}

button:active {
    background-color: #642510; /* Darker shade when clicked */
}

.contact-form-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #A44200; /* Highlight color */
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #A44200; /* Highlight color */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c75309; /* Slightly darker shade */
}

.contact-form button:active {
    background-color: #833015; /* Even darker shade */
}



footer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2.5rem;
    width: auto;
    width: 100%;
    background-color: var(--black);
  }
  
  footer .socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
    width: 38px;
    height: 38px;
    opacity: 0.9;
    transition: 0.2s;
  }
  footer .socialmedia img{
    border-radius: 4px;
    width: 38px;
    height: 38px;
  }
  footer .socialmedia:hover{
    opacity: 0.6;
  }
  footer button{
    background-color: #A44200; /* Highlight color */
    color: var(--background);
    border: none;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2rem;
  }




/* RESPONSIVE DESIGN: Primero de mayor a menor en estraategia de "max". */
@media (max-width: 1300px){
    .contenedor{
        padding: 5vw;
    }
}

@media (max-width: 1100px){
    .contenedor{
        width: 100%;
        flex-direction: column;
    }
    .page__description{
        width: 100%;
        margin-bottom: 5rem;
        margin-right: 0;
    }
    .page__showProjects{
        width: 100%;
    }
    .item{
        margin: 0 0 0;
    }

    .item .item__text .nombre{
        font-size: 1.5rem;
        padding: 1.5rem;
    } 
   
}

@media (max-width: 672px) {
    .contenedor{
        margin-top: 10vh;
        padding: 0.15rem;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }

    .item{ 
        width:90%;
        min-height: 25rem;
        margin: 0 auto;
    }

    footer{
        display: flex;
        flex-wrap: wrap;

    }
    footer .socialmedia{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom:1rem;
        opacity: 0.9;
        transition: 0.2s;
      }
      footer .socialmedia img{
        width: 38px;
        height: 38px;
      }
      footer button{
        width: 100%;
        margin-top:8rem;
        margin:0;
      }
}

@media (max-width: 400px){}
.item{ 
    width:100%;
}




