
a{
    text-decoration: none;
    color: inherit;
}

.nav{
    height: 7rem;
    width: 100%;
    background-color: #1A1918;
    color: #D5D3C4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@media (min-width: 768px) {
   .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
   }
}
.nav .nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav .nav__ul .nav__li{
    height: 100%;
    width: 9rem;
    cursor: pointer;
    list-style: none;
    font-family: 'DM mono';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin-right: 1rem;
}
.nav .nav__ul .nav__li:hover{
    background-color: #CA9111;
    transition: 0.3s;
    height: 100%;
}

@media (min-width: 480px) {
    .nav .nav__ul .nav__li:last-of-type{
        margin-right: 0;
        width: 7rem;
}

.nav .nav__ul .nav__li a {
    text-decoration: none;
    color: black;
}

.logo{
    width: 10rem;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo:hover{
    cursor: pointer;
}

.path{
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    font-family: 'raleway';
}
@media (min-width: 480px) {
   .path{
    width: 85%;
    margin: 0 auto;
   }
}
@media (min-width: 780px) {
   .path{
    width: 90%;
    margin: 0 auto;
    font-size: 0.9rem;
   }
}


.nav .nav__ul .nav__li a{
    text-decoration: none;
    color: inherit;
}

.path a{
    text-decoration: none;
    color: inherit;
}
