<footer>
    <div class="socialmedia">
        <a href="https://www.instagram.com/dnpgzl_/?hl=es" target="_blank">
    <img src="img/instagram.png" width="38px" height="38px">
        </a>
    </div>
    
    <div class="socialmedia">
        <a href="https://www.linkedin.com/in/daniel-gea-palenzuela-389a02177/" target="_blank">
    <img src="img/linkedin.png" width="38px" height="38px">
        </a>
    </div>
    
    <div class="socialmedia">
        <a href="https://github.com/dngea" target="_blank">
    <img src="img/github.png" width="38px" height="38px">
        </a>
    </div>

    <div class="socialmedia">
      <a href="https://vsco.co/dngea/gallery" target="_blank">
  <img src="img/vsco.png" width="38px" height="38px">
      </a>
  </div>

  <button id="contactButton">Contact Me</button>
    
</footer>

