<nav class="nav">
    <div class="nav--width">
        <a href="../">
        <div class="logo">Daniel Gea</div>
        </a>
        
        <ul class="nav__ul">
            <li class="nav__li"><a id="multimedia-art" href="../multimedia.html">Multimedia art</a></li>
            <li class="nav__li"><a id="ux-ui" href="../ux_ui.html">UX/UI</a></li>
            <li class="nav__li"><a id="frontend" href="../frontend.html">Front-end</a></li>
            <li class="nav__li"><a id="about" href="../about.html">About</a></li>
        </ul>
    </div>



    <!-- OVERLAY MENU -->

    <div class="burger">
        <img src="../img/nav/burger.png" onclick="openNav()" class="burger">
    </div>

    <a href="../" class="block">
        <div class="logo--overlay">Daniel Gea</div>
    </a>

    <div id="overlay_nav" class="overlay">
        <img src="../img/nav/burger.png" class="closebtn" onclick="closeNav()" height="30px" width="40px">
        <ul class="overlay-content">
            <li class="nav__li"><a href="../multimedia.html">Multimedia art</a></li>
            <li class="nav__li"><a href="../ux_ui.html">UX/UI</a></li>
            <li class="nav__li"><a href="../frontend.html">Front-end</a></li>
            <li class="nav__li"><a href="../about.html">About</a></li>
        </ul>
    </div>

</nav>